html {
	height: 100%;
}

body {
	padding-top: 50px;
	margin-bottom: 20px;
}

h1 {
	font-size: 3.5em;
	font-weight: bold;
	color: white;
	white-space: nowrap;
}

h2 {
	font-size: 2.3em;
	font-weight: bold;
	color: black;
	white-space: nowrap;
}

h3 {
	font-size: 1.3em;
	padding-top: 2%;
	color: white;
	white-space: nowrap;
}

hr {
	color: white;
	width: 250px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.container, .container-fluid {
	text-align: center;
}

.jumbotron {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("http://res.cloudinary.com/missionwebdev/image/upload/f_auto,q_auto/v1524530080/shoes.jpg");
	background-size: 100%;
	background-position: center;
}

.btn {
	margin-top: 5px;
	margin-bottom: 2%;
	font-weight: bold;
}

.output-row {
	margin-top: 3%;
	font-weight: bold;
	color: black;
	white-space: nowrap;
}

.navbar {
	background-color: white;
}

.my-nav-container {
	font-family: Indie Flower, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}

.card {
	font-size: 1.2em;
	white-space: nowrap;
}


/*from bootstrap forms*/

.form-contact {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  font-weight: 400;
}

.form-contact {
	margin-top: 2%;
	margin-bottom: 5%;
}

#formInput {
    text-align: center;
}

h1, h2, h3, #content, #included_brands {
	font-family: Indie Flower, sans-serif;
	padding-top: 4%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

#how_it_works, #included_brands, #sizing_information, #contact_us {
	margin-top: 100px;
}

#how_it_works, #included_brands, #sizing_information {
	padding-top: 40px;
}

.my-calc-container {
	margin-bottom: 50%;
}

@viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
 	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 3.3em;
	}

	h3, .output-row {
		font-size: 1.5em;
	}

	hr {
		width: 275px;
	}

	.card {
		font-size: 2em;
	}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 	h1 {
		font-size: 5em;
	}

	h2 {
		font-size: 4em;
	}

	h3 {
		font-size: 2em;
	}

	hr {
		width: 400px;
	}

	.card {
		font-size: 2em;
	}

	.output-row {
		font-size: 1.25em;
	}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 	h1 {
		font-size: 6.5em;
	}

	h2 {
		font-size: 5em;
	}

	h3 {
		font-size: 2.5em;
	}

	hr {
		width: 475px;
	}

	.card {
		font-size: 2em;
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h1 {
		font-size: 8em;
	}

	h2 {
		font-size: 6em;
	}

	h3 {
		font-size: 3em;
	}

	hr {
		width: 550px;
	}

	.card {
		font-size: 2.7em;
	}
}