/* raised the default page font-size in one shot to save time (i know, i know...) */
body {
  font-size: 1.5em;
}

/* REQUIRED FOR THE HIDDEN NETLIFY-HONEYPOT FIELD */
.hidden {
  display: none;
}

/* TURN ON WHEN INSERTING LOGO IN NAVBAR */
/* .navbar-brand img {
  height: 34px;
} */

/* making the navbar link larger */
.nav-item{
  font-size: 1em !important;
}

/* settings for how large the jumbotron is */
.page-header {
    height: 270px;
}

/* positions the jumbotron text in relation to the page-header section */
.page-header .container>.content-center {
    position: absolute;
    top: 62%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    /* max-width: 880px; */
}

/* styling for "Size My Tot" headline text */
.big-title {
  font-size: 2.3em;
	font-weight: bold;
	/* white-space: nowrap; */
}

  /* sizing for section header text */
.title {
  font-size: 1.75em;
}

/* sizing the "find your toddler's shoe size" text */
#page-top h2 {
  font-size: 1em;
}

/* needed to make form placeholder text darker and easier to read */
#formInput::placeholder, .form-control::placeholder {
  color: rgba(0,0,0,0.5);
  text-align: center;
}

/* styling for calculator ouput brand sizes */
.output-row {
	margin-top: 3%;
	font-weight: bold;
	color: black;
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
}

.steps {
  font-size: .8em;
}

.my-calc-container {
	min-height: 18em;
}

.btn {
  box-shadow: 0 0 20px gray;
}

.video-container {
	position: relative;
	padding-bottom: 51.5%;
	padding-top: 25px; 
	height: 0; 
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 5vw;
	width: 90vw;
  height: 100%;
}

.brands {
  margin: 0 auto;
	padding-left: 1%;
	padding-right: 1%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
}
		
.items {	
	background-color: rgb(97, 14, 175);
	font-size: 1.5em;
	max-width: 22rem;
	white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0 0 25px gray;
  margin: 0 auto;
  list-style: none;
  min-width: 300px;
}

.items a {
  color: white;
}

.wrapper, .container, .container-fluid, #formInput{
	text-align: center;
}

#how_it_works, #included_brands, #contact_us {
  padding-top: 85px;
  margin-bottom: 20vh;
}

.textarea-container textarea {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
}

.my-text-shadow {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .big-title {
    font-size: 3.8em;
  }
  .title {
    font-size: 2.2em;
  }
  #page-top h2 {
    font-size: 1.5em;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .big-title {
    font-size: 5em;
  }
  .title {
    font-size: 3em;
  }
  .page-header {
    height: 360px;
  }
  .page-header .container>.content-center {
    top: 57%;
  }
  #how_it_works h4 {
    font-size: 2em;
  }
  .steps {
    font-size: 1.25em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar .navbar-brand {
    font-size: 1em;
  }
  .big-title {
    font-size: 6.5em;
  }
  .title {
    font-size: 5em;
  }
  .page-header {
    height: 400px;
  }
  #page-top h2 {
    font-size: 2em;
  }
  #how_it_works h4 {
    font-size: 2.5em;
  }
  .steps {
    font-size: 1.75em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .big-title {
    font-size: 8em;
  }
  .page-header {
    height: 450px;
  }
  #page-top h2 {
    font-size: 2.5em;
  }
  .limit-vw-75 {
    width: 75vw;
  }
  .video-container {
	  padding-bottom: 30%;
    padding-top: 25px; 
  }
  .video-container iframe, .video-container object, .video-container embed {
    width: 60vw;
    left: 20vw;
  }
}